body {
    font-family: 'Inter', sans-serif;
}
.container-hero {
	height: 100vh;
    position: relative;
    background: #afc0d4 center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Inherit background properties */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0s; /* Nessuna transizione sul cambio immagine */
}

/* Cambia il background image per ogni step */
.step-1 .container-hero::before {
    background-image: url(../images/001.png);
    animation: zoom-in-background 8s linear infinite;
}
.step-2 .container-hero::before {
    background-image: url(../images/002.png);
    animation: zoom-out-background 8s linear infinite;
}
.step-3 .container-hero::before {
    background-image: url(../images/003.png);
    animation: zoom-in-background 8s linear infinite;
}
.step-4 .container-hero::before {
    background-image: url(../images/002.png);
    animation: zoom-out-background 8s linear infinite;
}
@keyframes zoom-in-background {
    0% {
        transform: scale(1.07); /* Dimensione iniziale */
    }
    100% {
        transform: scale(1.17); /* Zoom finale */
    }
}
@keyframes zoom-out-background {
    0% {
        transform: scale(1.17); /* Dimensione iniziale */
    }
    100% {
        transform: scale(1.07); /* Zoom finale */
    }
}
.container-hero > .container-fluid {
	background: linear-gradient(to bottom, rgba(17,17,17,0), rgba(17,17,17,1));
	color: #fff;
	font-size: 20px;
	line-height: 1.2em;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 470px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.container-hero > .container-fluid .col-xxl-10 .col-lg-4 {
	padding-right: 80px;
	padding-bottom: 16px;
	height: 120px;
}
.container-hero > .container-fluid .col-xxl-2 {
	font-size: 40px;
	padding-bottom: 16px;
}
.container-hero > .container-fluid .slide-title {
	font-size: 40px;
	line-height: 1em;
	display: block;
	margin-bottom: 8px;
}
.container-hero > .container-fluid .slide-title em {
	opacity: 0.3;
	font-size: 40px;
	line-height: 1em;
	font-style: normal;
}
.container-hero > .container-fluid .slide-title em.active {
	opacity: 1;
}
.page-cover {
    padding-top: 192px;
}
h1 {
	font-size: 48px;
	line-height: 1em;
	letter-spacing: -2px;
	font-weight: normal;
	padding-right: 40px;
}
.page-cover.bg-image {
	background: url(../images/test-bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
}
.page-cover.bg-image:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.page-cover.bg-image > * {
	position: relative;
}
.mobile-menu-opener {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #111;
    border-radius: 8px;
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 10;
    transition: right 0.5s;
    border: 1px solid rgba(255,255,255,0.1);
}
.mobile-menu-closer {
    position: absolute;
    top: 36px;
    right: 36px;
    border-radius: 100px;
    padding: 16px;
    background-color: #222;
}
body.show-menu {
	overflow: hidden;
}
.show-menu .mobile-menu-opener {
	right: -120px;
}
.main-menu {
    position: fixed;
    top: 0;
    left: -110vw;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    color: #fff;
    z-index: 10;
    transition: left 0.5s;
    overflow: auto;
}
.show-menu .main-menu {
	left: 0;
}
.main-menu .logo-oversonic {
    display: block;
    padding: 40px 32px;
}
#accordion-main-menu > div > span,
.main-menu .main-menu-item {
    border-bottom: 1px solid #222;
    padding: 16px 40px;
    font-size: 14px;
    display: block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;
}
#accordion-main-menu > div > span:after {
	content: '';
	position: absolute;
	right: 40px;
	top: 24px;
	display: block;
	width: 10px;
	height: 6px;
	background: transparent url(../images/triangle.svg) no-repeat;
}
#accordion-main-menu > div > span[aria-expanded="true"]:after {
	transform: rotate(180deg);
}
#accordion-main-menu > div > span:hover,
.main-menu .main-menu-item:hover {
	background-color: #222;
}
.sub-menu {
	background-color: #222;
	padding-top: 12px;
	padding-bottom: 12px;
}
.sub-menu a {
	display: block;
	text-decoration: none;
	color: #aaa;
	padding: 12px 40px;
	font-size: 12px;
}
.sub-menu a:hover {
	color: #fff;
}
.robot-data {
	background-color: #111;
	color: #fff;
	padding-top: 32px;
	padding-bottom: 32px;
}
.robot-data-white {
	padding-bottom: 0;
	color: #111;
	background-color: #fff;
}
.robot-data .col-xxl-2, .robot-data .col-lg-4 {
	padding-bottom: 32px;
}
.robot-data h2 {
	font-size: 64px;
	line-height: 1.2em;
	margin: 0;
}
.robot-data a {
	text-decoration: none;
	color: #999;
	font-weight: 300;
}
.row-tr {
	border-bottom: 1px solid #333;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0;
}
.cell-title {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 12px;
}
.cell-key {
	font-size: 12px;
	color: #999;
	padding: 1px 0 0 0;
}
.cell-value {
	font-size: 14px;
	padding: 0;
}
.section-txt-block,
.section-media-block,
footer,
.footer-section {
	padding-top: 64px;
}
.section-keyword {
    padding-bottom: 8px;
}
.main-content h2 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
    padding-right: 110px;
}
.main-content p {
	margin-bottom: 24px;
	font-weight: 300;
}
.side-content h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 12px;
}
.side-content-txt {
	font-size: 14px;
}
.side-content-txt,
.side-content-table {
	margin-bottom: 32px;
}
.media-container {
	padding: 0;
}
.media-container video {
	width: 100%;
	display: block;
}
footer {
	background-color: #111;
	color: #fff;
	padding-bottom: 64px;
	margin-top: 64px;
}
footer a {
	color: #999;
	text-decoration: none;
}
footer .cell-value a {
	color: #fff;
}
section a:hover,
footer a:hover {
	color: #0abbb5;
}
.social-icons {
    padding-bottom: 40px;
    display: block;
    float: left;
    width: 100%;
}
.social-icons a {
    background-color: #222;
    padding: 16px 32px;
    display: inline-block;
    margin-right: 1px;
    float: left;
}
.social-icons a img {
    width: 32px;
    height: 32px;
}
.social-icons a:hover {
filter: invert(1);
}
.footer-section.tagline {
	display: none;
}
.main-content p.footer-disclaimer {
	font-size: 12px;
	color: #999;
}
.industries .main-content {
	margin-bottom: 48px;
}
.super-cta:last-child {
	margin-bottom: 48px;
}
.super-cta > .col {
    font-size: 32px;
    text-decoration: none;
    color: #111;
    letter-spacing: -1px;
    border-bottom: 1px solid #333;
    padding-top: 8px;
    padding-bottom: 32px;
}
.super-cta > .col:after {
	content: '+';
	float: right;
	font-size: 24px;
}
.feature-module {
    border-bottom: 1px solid #333;
}
.feature-module a {
	font-size: 24px;
    color: #111;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.93);
    padding-top: 12px;
    padding-bottom: 40px;
}
.feature-module a:after {
	content: '+';
	float: right;
	font-size: 16px;
}
.feature-module:last-child {
	border-bottom: none;
}
.feature-module a:hover {
	background-color: #111;
}

@media (min-width: 576px) {
	.container-hero > .container-fluid {
		height: 272px;
	}
	.page-cover {
		padding-top: 64px;
	}
	h1 {
		padding-right: 120px;
	}
}
@media (min-width: 992px) {
	.mobile-menu-opener,
	.mobile-menu-closer {
		display: none;
	}
	.container-hero > .container-fluid {
		background: linear-gradient(to bottom, rgba(17,17,17,0), rgba(17,17,17,0.5));
		font-size: 24px;
		line-height: 1.1em;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.show-menu .main-menu {
		left: 4px;
	}
	.main-menu {
	    top: 4px;
	    left: 4px;
	    width: 256px;
	    height: auto;
	    padding-bottom: 32px;
	    border-right: 1px solid rgba(255,255,255,0.15);
	    border-bottom: 1px solid rgba(255,255,255,0.15);
	    transition: top 0.7s;
	    transition-delay: 1s;
	}
	.scroll-down .main-menu {
		top: -600px;
	}
	.scroll-up .main-menu {
		top: 4px;
	}
	#accordion-main-menu > div > span,
	.main-menu .main-menu-item {
	    padding: 12px 24px;
	}
	.sub-menu a {
		padding: 6px 24px;
	}
	#accordion-main-menu > div > span:after {
		top: 19px;
		right: 24px;
	}
	.container-hero > .container-fluid .col-xxl-10 .col-lg-4 {
		height: auto;
	}
	.container-hero > .container-fluid .col-xxl-2 {
		line-height: 1em;
	}
	.page-cover {
		min-height: 400px;
	}
	h1 {
		font-size: 120px;
		letter-spacing: -3px;
	}
	.robot-data {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.robot-data-white {
		padding-bottom: 0;
	}
	.industries .main-content {
		margin-bottom: 0;
	}
	.super-cta > .col {
	    font-size: 96px;
	    letter-spacing: -2px;
	    padding-top: 0;
	    padding-bottom: 0;
	}
	.super-cta:last-child {
		margin-bottom: 0;
	}
	.super-cta > .col:after {
		font-size: 32px;
	}
	.super-cta > .col:hover {
		background-color: #111;
		color: #0abbb5;
	}
	.features {
		border: 1px solid #333;
	}
	.no-top-space {
		padding-top: 0;
	}
	.bg-robee01 {
		background: #fff url(../images/robee01.jpg) top right no-repeat;
		background-size: cover;
		padding-bottom: 80px;
		height: 900px;
	}
}
@media (min-width: 1200px) {
	.container-hero > .container-fluid {
		height: 260px;
		padding-bottom: 20px;
		font-size: 16px;
		line-height: 1.2em;
	}
	.container-hero > .container-fluid .slide-title {
		font-size: 96px;
		line-height: 1em;
		letter-spacing: -3px;
	}
	.container-hero > .container-fluid .slide-title.slide-nav {
		letter-spacing: 0;
	}
}
@media (min-width: 1400px) {
	.main-menu {
		width: calc(16.66666667% - 8px);
	}
	.robot-data {
		padding-top: 80px;
		padding-bottom: 74px;
		margin-bottom: 24px;
	}
	.robot-data-white {
		padding-bottom: 0px;
		margin-bottom: 0;
	}
	.section-txt-block,
	.section-media-block,
	footer {
		padding-top: 80px;
	}
	.section-keyword {
		font-size: 18px;
		font-weight: 300;
	}
	.main-content h2 {
		font-size: 48px;
		padding-right: 80px;
	    letter-spacing: -1.5px;
	    line-height: 1.1em;
	    margin-bottom: 24px;
	}
	.page-cover .main-content h2 {
		font-size: 80px;
        padding-right: 80px;
        line-height: 1em;
        position: relative;
        padding-left: 40px;
        min-height: 260px;
	}
	.page-cover .main-content h2:before {
	    content: '';
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: #fff;
	    width: 4px;
	    height: 100%;
	    border-radius: 10px;
	}
	.main-content p {
		font-size: 24px;
	}
	.page-cover .main-content {
		padding-left: 12px;
	}
	footer {
		padding-bottom: 0;
	}
	.footer-section.tagline {
		display: flex;
		background-color: #fff;
		color: #111;
		padding-top: 120px;
		padding-bottom: 120px;
		margin-top: 80px;
		font-size: 18px;
		letter-spacing: 16px;
		font-weight: 300;
		background-image: url('../images/bg-footer.jpg'); /* Sostituisci con il percorso della tua immagine */
		background-position: right 120px center; /* Allinea l'immagine a destra con un margine di 120px */
		background-repeat: no-repeat; /* Impedisce che l'immagine si ripeta */
		background-size: auto 100%;
	}
	.no-top-space {
		padding-top: 0;
	}
}
@media (max-width: 575px) {
	.media-container video {
		min-height: 520px;
		object-fit: cover;
	}
}