body,
.table,
.table>:not(caption)>*>*  {
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
    color: #23262a;
}
a {
	text-decoration: none;
}
h2 {
	font-weight: normal;
	font-size: 36px;
	line-height: 1.1;
}
.btn {
	transition: none;
	border-radius: 0;
	background-color: #111;
	border: none;
	color: #eaeef5;
	width: 100%;
	padding: 16px 32px;
	border-radius: 6px;
}
.container,
.container-fluid {
	padding-left: 24px;
	padding-right: 24px;
}
section .standard-content .btn {
	margin-top: 32px;
}
.btn:hover {
	background-color: #23262a;
	color: #fff;
}
input:focus, textarea:focus, select:focus {
  box-shadow: none !important;
  outline: none !important;
}
.form-control {
	border-radius: 0;
}
.main-menu {
	position: fixed;
	top: 0;
	left: -102vw;
	width: 100vw;
	height: 100vh;
	color: #eaeef5;
	background-color: #111;
	transition: left 0.5s;
	z-index: 20;
	overflow: auto;
}
.main-menu .logo-oversonic {
    display: block;
    padding: 48px 40px 40px 40px;
}
.lang-mobile {
    padding: 16px 40px;
}
.languages {
    position: absolute;
    z-index: 10;
    top: calc(100vh - 90px);
    left: 12px;
}
.lang {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    opacity: .45;
}
.lang.active {
	color: #fff;
    opacity: 1;
}
.lang:hover {
	opacity: 1;
}
#accordion-main-menu > div > span,
.main-menu .main-menu-item {
    padding: 16px 40px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    color: #eaeef5;
    text-decoration: none;
    position: relative;
}
#accordion-main-menu > div > span:after {
	content: '';
	position: absolute;
	right: 40px;
	top: 24px;
	display: block;
	width: 10px;
	height: 6px;
	background: transparent url(../images/triangle.svg) no-repeat;
}
#accordion-main-menu > div > span[aria-expanded="true"]:after {
	transform: rotate(180deg);
}
#accordion-main-menu > div > span:hover,
.main-menu .main-menu-item:hover {
	background-color: #23262a;
}
.sub-menu {
	background-color: #23262a;
	padding-top: 16px;
	padding-bottom: 16px;
}
.sub-menu a {
	display: block;
	text-decoration: none;
	color: #aaa;
	padding: 12px 40px;
	font-size: 14px;
}
.sub-menu a:hover {
	color: #fff;
}
.mobile-menu-opener {
    position: fixed;
    background-color: #111;
    right: 4px;
    top: 4px;
    gap: 24px;
    padding: 24px;
    transition: right 0.5s;
    z-index: 20;
    align-items: center;
    border-radius: 5px;
}
.show-menu .mobile-menu-opener {
	right: -100px;
}
.mobile-menu-closer {
    position: absolute;
    top: 36px;
    right: 36px;
    border-radius: 100px;
    padding: 16px;
    background-color: #23262a;
}
.show-menu .main-menu {
	left: 0;
}
body.show-menu {
	overflow: hidden;
}
.hero {
	height: 100vh;
	position: relative;
	z-index: 0;
}
.container-hero {
    height: 100%;
    position: relative;
    background: #afc0d4 center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.typing-data {
	height: 240px;
	position: relative;
	margin-top: -240px;
	z-index: 3;
}
.typing-data .content {
	display: block;
	color: #fff;
	padding-top: 12px;
	height: 100%;
}
.txt-type {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 0.85;
    letter-spacing: 0;
    margin-left: -16px;
    text-shadow: 1px 1px #111;
}
.typing-data.in-page .txt-type {
	text-shadow: none;
}
.txt-type.txt-bigger {
    font-size: 64px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 0.8;
    margin: 10px 0;
}
#txt1:after,
#txt2:after,
#txt3:after {
	content: '_'; /* prevents glitches fixing height */
	opacity: 0;
}
.media-container video,
.media-container img {
	width: 100%;
	max-width: 100%;
	display: block;
}
.container-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0s;
}

.step-1 .container-hero::before {
    background-image: url(../images/001.png);
    animation: zoom-in-background 8s linear infinite;
}
.step-2 .container-hero::before {
    background-image: url(../images/002.png);
    animation: zoom-out-background 8s linear infinite;
}
.step-3 .container-hero::before {
    background-image: url(../images/003.png);
    animation: zoom-in-background 8s linear infinite;
}
.step-4 .container-hero::before {
    background-image: url(../images/002.png);
    animation: zoom-out-background 8s linear infinite;
}
@keyframes zoom-in-background {
    0% {
        transform: scale(1.00) rotate(0deg); /* Dimensione iniziale */
    }
    100% {
        transform: scale(1.17) rotate(3deg); /* Zoom finale */
    }
}
@keyframes zoom-out-background {
    0% {
        transform: scale(1.17) rotate(3deg); /* Dimensione iniziale */
    }
    100% {
        transform: scale(1.00) rotate(0deg); /* Zoom finale */
    }
}
.table-black {
	background-color: #111;
	color: #eaeef5;
	padding-top: 80px;
	padding-bottom: 80px;
}
.table-cell-key {
	font-size: 14px;
	color: #999;
	padding-right: 0;
}
.table-cell-key em {
	border-bottom: 1px dotted #999;
	height: 17px;
	margin-left: 8px;
}
.table-sm * {
	font-size: 14px;
}
.standard-content {
	padding-top: 48px;
	padding-bottom: 32px;
}
.standard-content > .row > .col {
	padding-bottom: 16px; /* 80px; */
}
.side {
	display: none;
}
.standard-side {
	padding-top: 32px; /* 120px; */
}
.logo-robee {
	width: 200px;
	margin-bottom: 48px;
}
.bg-box {
  width: 100%;
  padding-top: 66.66%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.bg-box:hover {
	background-size: 200% auto;
	background-color: #111;
}
.bg-box > div {
	font-size: 24px;
}
.carousel-item {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #eaeef5;
	height: 500px;
}
.carousel-item .col-lg-3 p {
	text-align: right;
	font-weight: bold;
}
.carousel-item a {
	color: #0abbb5;
}
.carousel-item a:hover {
	color: #fff;
}
.carousel-item table * {
	background: none;
	color: #fff;
}
.secondary-notes {
	font-size: 14px;
}
.industry-01 {
	background-image: url(../images/bg-industries-01-inv.jpg);
}
.industry-02 {
	background-image: url(../images/bg-industries-02-inv.jpg);
}
.industry-03 {
	background-image: url(../images/bg-industries-03-inv.jpg);
}
.industry-04 {
	background-image: url(../images/bg-industries-04-inv.jpg);
}
.carousel-indicators {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
	flex: 1 1 auto;
	height: 8px;
	border: none;
	transition: none;
	margin: 0;
	opacity: 0.3;
	background-color: #fff;
}
.carousel-indicators [data-bs-target]:hover {
	opacity: 1;
}
.carousel-indicators .active,
.carousel-indicators .active:hover {
	background-color: #0abbb5;
	opacity: 1;
}
footer, footer .side {
	background-color: #111;
	color: #eaeef5;
}
footer .standard-content {
	font-size: 14px;
}
footer label {
	font-size: 12px;
}
footer .form-control {
	background: none;
	color: #eaeef5 !important;
	border: none !important;
	border-bottom: 1px solid #555 !important;
	padding: 4px 0;
}
footer input::placeholder {
    color: #888 !important;
    opacity: 1;
}
footer input::-webkit-input-placeholder {
    color: #888 !important;
    opacity: 1;
}
footer input:-moz-placeholder {
    color: #888 !important;
    opacity: 1;
}
footer input::-moz-placeholder {
    color: #888 !important;
    opacity: 1;
}
footer input:-ms-input-placeholder {
    color: #888 !important;
    opacity: 1;
}
footer input[type="text"]:focus,
footer input[type="email"]:focus {
	background: none;
	border-bottom: 1px solid #fff !important;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding-top: 24px;
    padding-bottom: 12px;
}
.checkbox-custom {
    width: 24px;
    height: 24px;
    border: 1px solid #555;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.checkbox-custom::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #0abbb5;
    display: none;
    border-radius: 3px;
}
input[type="checkbox"]:checked + .checkbox-custom::after {
    display: block;
}
.page-title {
	position: relative;
	background-color: #23262a;
	background-repeat: no-repeat;
	background-position: center center;
	height: 480px;
	background-size: cover;
	padding: 24px;
}
.page-title > * {
	position: relative;
}
.page-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.3));
    pointer-events: none;
}
.page-title h2,
.page-title .secondary-notes {
	margin: 0;
	color: #fff;
	margin-bottom: 24px;
}
footer .privacy {
	font-size: 12px;
	color: #888;
	text-align: justify;
	margin-bottom: 32px;
}
footer .btn {
	border: 1px solid #555;
	font-size: 14px;
	padding: 8px 24px;
}
footer h5 {
	margin-bottom: 16px;
	font-weight: normal;
}
footer a {
	color: #0abbb5;
}
footer a:hover {
	color: #fff;
}
.coda {
	text-align: center;
	background-color: #23262a;
	color: #eaeef5;
	padding: 32px;
}
.coda h4 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 24px;
	margin-top: 96px;
	margin-bottom: 128px;
}
.coda small {
	color: #888;
	font-size: 12px;
}

@media (min-width: 576px) {
	.btn {
		width: auto;
	}
	.page-title {
		height: 360px;
	}
}
@media (min-width: 768px) {
	h2 {
		font-size: 48px;
		margin-bottom: 24px;
	}
	.page-title {
		height: 480px;
	}
}
@media (min-width: 992px) {
	.container,
	.container-fluid {
		padding-left: 12px;
		padding-right: 12px;
	}
	.main-menu {
		left: 0;
		width: 270px;
		height: auto;
		padding-bottom: 24px;
		transition: top 0.7s;
	}
	.side {
		display: block;
		width: 270px;
		background-color: #eaeef5;
	}
	.standard-side {
	    padding-top: 48px;
	}
	.scroll-down .main-menu {
		top: -800px;
	}
	.main-menu .logo-oversonic {
		padding: 40px;
	}
	.main-menu .logo-oversonic:hover {
		background-color: #23262a;
	}
	.hero {
		height: calc(100vh - 100px);
	}
	.lang {
		background-color: #777;
		border: none;
	}
	.lang.active {
		background-color: #111;
	}
	.typing-data {
		height: 100px;
		margin: 0;
		padding: 0;
	}
	.typing-data .content {
		background-color: #0abbb5;
	}
	.typing-data .content:hover {
		background-color: #eaff13;
		color: #111;
	}
	.txt-type {
		line-height: 0.9;
		font-size: 14px;
		margin-left: 0;
		text-shadow: none;
	}
	.page-title {
		height: 680px;
	}
	footer .standard-content,
	footer .standard-side {
		padding-top: 64px;
	}
	.carousel-indicators [data-bs-target] {
		height: 16px;
		transition: height 0.3s;
	}
	.carousel-indicators {
		transition: all 0.3s;
	}
	.carousel-industries .carousel-item {
		height: 700px;
	}
}
@media (min-width: 1200px) {
	.txt-type {
		font-size: 16px;
	}
	.standard-content,
	.standard-content.carousel-item {
		padding-left: 24px;
		padding-right: 24px;
	}
	.container,
	.container-fluid {
		padding-left: 12px;
		padding-right: 12px;
	}
}
@media (min-width: 1400px) {
	h2 {
		font-size: 96px;
		letter-spacing: -3px;
		margin-bottom: 2rem;
		line-height: 1;
	}
	.typing-data .content {
		padding-top: 14px;
	}
	.txt-type {
		font-size: 18px;
		letter-spacing: -0.5px;
	}
	.main-menu {
		width: 320px;
	}
	.side {
		width: 320px;
	}
	.standard-side {
		padding-top: 96px;
	}
	.standard-content,
	.standard-content.carousel-item {
		padding: 96px;
	}
	.standard-content p,
	.standard-content table {
		margin-bottom: 2rem;
	}
	.no-top-padding .standard-side,
	.no-top-padding .standard-content {
		padding-top: 0;
	}
	.page-title {
		height: 700px;
		padding: 72px 96px;
	}
	.carousel:hover .carousel-indicators {
		left: 96px;
		right: 600px;
		bottom: 96px;
	}
	.carousel:hover .carousel-indicators [data-bs-target] {
		margin-right: 8px;
		height: 8px;
		border-radius: 20px;
	}
	footer .standard-content,
	footer .standard-side {
		padding-top: 96px;
		padding-bottom: 96px;
	}
}
@media (max-width: 1199px) {
	.typing-data.in-page {
		margin: 0;
		background-color: #0abbb5;
	}
	.typing-data.in-page .content {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}
@media (max-width: 991px) {
	.typing-data.in-page {
		height: auto;
	}
	.typing-data.in-page .content {
		padding-top: 8px;
		padding-bottom: 40px;
	}
}
@media (max-width: 479px) {
	.media-container.mobile-optimized video {
		height: 480px;
		object-fit: cover;
	}
}